[package]
name = "pundoc"
version = "0.1.0"
authors = ["oberien <jaro.fietz@gmx.de>"]
edition = "2018"

[dependencies]
#pulldown-cmark = "0.1.2"
pulldown-cmark = { git = "https://github.com/raphlinus/pulldown-cmark", rev = "07863e9e54cfcb108693ca1ab64967b5ad7bd952" }
str-concat = "0.1.4"
structopt = "0.2.10"
void = "1.0.2"
boolinator = "2.4"
tempdir = "0.3.7"
typed-arena = "1.4.1"
url = "1.7.1"
reqwest = "0.9.2"
serde = "1.0.79"
serde_derive = "1.0.79"
# toml 0.5 isn't released yet but adds support for dotted keys
toml = { git = "https://github.com/alexcrichton/toml-rs", rev = "8181a7e645064426b43891b0f4c7fa86c2a2d154" }
log = "0.4.5"
env_logger = "0.5.13"
mime = "0.3"
sha2 = "0.8"
isolang = "0.2"
strum = "0.11.0"
strum_macros = "0.11.0"
regex = "1.1.0"
lazy_static = "1.2.0"
single = "1.0.0"
