[package]
name = "pundoc"
version = "0.1.0"
authors = ["oberien <jaro.fietz@gmx.de>"]
edition = "2018"

[dependencies]
#pulldown-cmark = "0.1.2"
pulldown-cmark = { git = "https://github.com/oberien/pulldown-cmark", rev = "24c851db576f5127281aa68d660543e6534c2a90" }
str-concat = "0.1.4"
structopt = "0.2.10"
void = "1.0.2"
boolinator = "2.4"
tempdir = "0.3.7"
typed-arena = "1.4.1"
url = "1.7.1"
serde = "1.0.79"
serde_derive = "1.0.79"
# toml 0.5 isn't released yet but adds support for dotted keys
toml = { git = "https://github.com/alexcrichton/toml-rs", rev = "8181a7e645064426b43891b0f4c7fa86c2a2d154" }
